<div id="page-wrapper">

    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">Dettagli Ticket</h3>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="row">
        <div class="col-xs-6">
            <p>ID : {{$ctrl.ticket.id}}</p>
            <p ng-if="!$ctrl.audit">Oggetto : <a ng-href="#!/dettagli-oggetto/{{$ctrl.ticket.oggetto.id}}">{{$ctrl.ticket.oggetto.nome + " " + $ctrl.ticket.oggetto.versione}}</a></p>
            <p>Titolo :</p>
            <input ng-disabled="!$ctrl.modifyMode" ng-model="$ctrl.ticket.titolo">
            <p>Categoria :</p>
            <input ng-disabled="!$ctrl.modifyMode" ng-model="$ctrl.ticket.categoria">
            <p>Descrizione :</p>
            <textarea ng-disabled="!$ctrl.modifyMode" ng-model="$ctrl.ticket.descrizione"></textarea>
        </div>
        <div class="col-xs-6">
            <button class="btn" type="button" ng-show="!$ctrl.modifyMode && !$ctrl.audit" ng-click="$ctrl.history()">Storico</button>
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-show="!$ctrl.modifyMode && !$ctrl.audit" ng-click="$ctrl.modifica()">Modifica</button>
        <button class="btn btn-danger" type="button" ng-show="!$ctrl.modifyMode && !$ctrl.audit" ng-click="$ctrl.elimina($ctrl.ticket.id)">Elimina</button>
        <button class="btn" type="button" ng-show="!$ctrl.modifyMode" ng-click="$ctrl.indietro()">Indietro</button>
        <button class="btn btn-primary" type="button" ng-show="$ctrl.modifyMode" ng-click="$ctrl.conferma()">Conferma</button>
        <button class="btn btn-danger" type="button" ng-show="$ctrl.modifyMode" ng-click="$ctrl.annulla()">Annulla</button>
    </div>

</div>