<div class="container">

    <div class="row">

        <h2 class="header">Grafici</h2>


    <div class="row">
        <div class="col-xs-6" ng-app="visualizzaGrafico" ng-controller="GraphCtrl">
            <div zingchart id="chart-1" zc-json="myBar" zc-width="500px" zc-height="368px"></div>
        </div>
        <div class="col-xs-6" ng-app="visualizzaGrafico" ng-controller="GraphCtrl">
            <div zingchart id="chart-2" zc-json="myPie" zc-width="500px" zc-height="368px"></div>
        </div>
    </div>

    </div>

</div>