
<div class="container" ng-app="visualizzaGrafico" ng-controller="GraphCtrl">

    <div class="row">

        <div class="col-xs-6" >
            <h3>Ticket nel sistema</h3>
            <div zingchart id="chart-1" zc-json="myBar" zc-width="500px" zc-height="368px"></div>
        </div>
        <div class="col-xs-6">
            <h3>Percentuale ticket Rigettati/Risolti</h3>
            <div zingchart id="chart-2" zc-json="myPie" zc-width="500px" zc-height="368px"></div>
        </div>
    </div>
    <h3>Aperture ticket giornaliere</h3>
    <div class="row">
        <div class="col-xs-6">
            <p>Data inizio</p><input input-date type="text" format="dd/mm/yyyy" ng-model="startDate" required>
            <p>Data fine</p><input input-date type="text" format="dd/mm/yyyy" ng-model="endDate" required>
        </div>
        <div class="col-xs-6">
            <button class="btn-primary" ng-click="logCalc()">Render</button>
        </div>
    </div>
    <div class="row" zingchart id="chart-3" zc-json="logBar" zc-width="500px" zc-height="368px"></div>
    <div class="row">
        <h5>Frequenza di apertura: </h5><h6>{{media | number:2}} ticket al giorno</h6>
    </div>

</div>