<!DOCTYPE html>
<html ng-app="ticketingSystemApp">

<head>
    <meta charset="UTF-8">
    <title>Login / register material design form</title>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css'>
    <link rel="stylesheet" href="index.css">
</head>

<body>

<div class="container white z-depth-2">
    <ul class="tabs teal">
        <li class="tab col s3"><a class="white-text active" href="#login">login</a></li>
        <li class="tab col s3"><a class="white-text" href="#register">register</a></li>
    </ul>
    <div id="login" class="col s12">
        <form class="col s12">
            <div class="form-container">
                <h3 class="teal-text">Hello</h3>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="email1" type="email" class="validate">
                        <label for="email">Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="password1" type="password" class="validate">
                        <label for="password">Password</label>
                    </div>
                </div>
                <br>
                <div style="text-align: center;">
                    <button class="btn waves-effect waves-light teal" type="submit" name="action" id="connect">Connect</button>
                    <br>
                    <br>
                </div>
            </div>
        </form>
    </div>



    <div id="register" class="col s12">
        <form class="col s12">
            <div class="form-container">
                <h3 class="teal-text">Welcome</h3>
                <div class="row">
                    <div class="input-field col s6">
                        <input id="first_name" type="text" class="validate">
                        <label for="first_name">Nome</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="last_name" type="text" class="validate">
                        <label for="last_name">Cognome</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="username" type="text" class="validate">
                        <label for="username">Username</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="email" type="email" class="validate">
                        <label for="email">Email</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input id="password" type="password" class="validate">
                        <label for="password">Password</label>
                    </div>
                </div>


                //NON COMPARE LA SCELTA DEL TIPO

                <div class="row">
                    <div class="input-field col s12">
                        <label for="tipo">Tipo</label>
                        <input id="tipo" type="text" class="validate">
                        <select class="form-control">
                            <option value=0> Admin </option>
                            <option value=1> Team Coordinator </option>
                            <option value=2> Team Leader </option>
                            <option value=3> Team Member </option>
                            <option value=4> Help Desk Operator </option>
                            <option value=5> Customer </option>
                        </select>
                    </div>
                </div>



                <div style="text-align: center;">
                    <!--
                    <button class="btn waves-effect waves-light teal" type="submit" name="action">Submit</button>
                    -->
                    <button type="submit" ng-click="$ctrl.inserisci()" class="btn btn-primary"> Inserisci </button>

                </div>
            </div>
        </form>
    </div>
</div>
<script src='https://code.jquery.com/jquery-2.1.1.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js'></script>
<script  src="js/index.js"></script>
<!--
  <td colspan="2">
      <button type="submit" ng-click="$ctrl.inserisci()" class="btn btn-primary"> Inserisci </button>
      <button type="reset" ng-click="$ctrl.annulla()" class="btn btn-primary"> Annulla </button>
  </td>
  -->
</body>

</html>
