
<header>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
</header>

<div class="container">

    <div class="row">

        <h2 class="header">Log di Sistema</h2>

    <table class="highlight">

        <form>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-search"></i></div>
                    <input type="text" class="form-control" placeholder="Scrivi qui per filtrare" ng-model="searchFilter">
                </div>
            </div>
        </form>

        <thead>
        <tr>
            <th>
                <a href="index#/visualizza_log" ng-click="sortType = 'timestamp' ; sortReverse = !sortReverse">
                    Timestamp
                    <span ng-show="sortType == 'timestamp' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'timestamp' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </th>
            <th>
                <a href="index#/visualizza_log" ng-click="sortType = 'operationName' ; sortReverse = !sortReverse">
                    Operazione
                    <span ng-show="sortType == 'operationName' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'operationName' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </th>
            <th>
                <a href="index#/visualizza_log" ng-click="sortType = 'author' ; sortReverse = !sortReverse">
                    Autore
                    <span ng-show="sortType == 'author' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'author' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </th>
            <th><a href="index#/visualizza_log" ng-click="sortType = 'tag' ; sortReverse = !sortReverse">
                Tag
                <span ng-show="sortType == 'tag' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'tag' && sortReverse" class="fa fa-caret-up"></span>
            </a></th>

        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="x in $ctrl.log | orderBy:sortType:sortReverse | filter:searchFilter" ng-click="$ctrl.dettagli(x.id)">
            <td>{{ x.timestamp | date: 'dd/MM/yyyy'}}</td>
            <td>{{ x.operationName}}</td>
            <td>{{ x.author}}</td>
            <td>{{ x.tag}}</td>
        </tr>
        </tbody>
    </table>

    </div>

</div>