<div class="container">

    <div class="row">

        <h2 class="header">Log di Sistema</h2>

    <table class="highlight">
        <thead>
        <tr>
            <th>Timestamp</th>
            <th>Operazione</th>
            <th>Autore</th>
            <th>Tag</th>

        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="x in $ctrl.log" ng-click="$ctrl.dettagli(x.id)">
            <td>{{ x.timestamp | date: 'dd/MM/yyyy'}}</td>
            <td>{{ x.operationName}}</td>
            <td>{{ x.author}}</td>
            <td>{{ x.tag}}</td>
        </tr>
        </tbody>
    </table>

    </div>

</div>