<div class="container">

    <h2 class="header">Dettagli Utente</h2>
    <h5 class="header">{{$ctrl.errData}}</h5>

    <div class="row">
        <div class="col-xs-6">
            <form name="userForm" novalidate>
                <div class="form-group">
                    <label>ID</label>
                    <input type="text" name="name" ng-disabled="true" ng-model="$ctrl.utente.id">
                </div>
                <div class="form-group">
                    <label>Ruolo</label>
                    <input type="text" name="name" ng-disabled="true" ng-model="$ctrl.utente.ruolo.name">
                </div>
                <div class="form-group">
                    <label>Nome*</label>
                    <input type="text" name="name" ng-disabled="!$ctrl.modifyMode" ng-model="$ctrl.utente.nome">
                    <p ng-show="userForm.name.$invalid && !userForm.name.$pristine" class="header">Il campo nome è obbligatorio!</p>
                </div>
                <div class="form-group">
                    <label>Cognome*</label>
                    <input type="text" name="cognome" ng-disabled="!$ctrl.modifyMode" ng-model="$ctrl.utente.cognome">
                    <p ng-show="userForm.cognome.$invalid && !userForm.cognome.$pristine" class="header">Il campo cognome è obbligatorio!</p>
                </div>
                <div class="form-group">
                    <label>Username*</label>
                    <input type="text" name="username" ng-disabled="!$ctrl.modifyMode" ng-model="$ctrl.utente.username">
                    <p ng-show="userForm.username.$invalid && !userForm.username.$pristine" class="header">Il campo username è obbligatorio!</p>
                </div>
                <div class="form-group">
                    <label>Email*</label>
                    <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="header">Inserisci un'email valida!</p>
                    <input type="email" name="email" ng-disabled="!$ctrl.modifyMode" ng-model="$ctrl.utente.email" required>
                </div>
            </form>
        </div>
        <div class="col-xs-6">
            <button class="btn" type="button" ng-click="$ctrl.opLog()">Operazioni</button>
        </div>
    </div>

    <div class="row">
        <button class="btn btn-primary" type="button" ng-show="!$ctrl.modifyMode" ng-click="$ctrl.modifica()">Modifica</button>
        <button class="btn btn-danger" type="button" ng-show="!$ctrl.modifyMode" ng-click="$ctrl.elimina($ctrl.utente.id)">Elimina</button>
        <button class="btn" type="button" ng-show="!$ctrl.modifyMode" ng-click="$ctrl.indietro()">Indietro</button>
        <button class="btn btn-primary" type="button" ng-show="$ctrl.modifyMode" ng-click="$ctrl.conferma()">Conferma</button>
        <button class="btn btn-danger" type="button" ng-show="$ctrl.modifyMode" ng-click="$ctrl.annulla()">Annulla</button>
    </div>

</div>