<!--
<body>

<div id="page-wrapper" ng-controller="GraficoController">
    <div zingchart id="chart-1" zc-json="myJson" zc-width="100%" zc-height="568px"></div>
</div>

</body>

-->

<div id="page-wrapper" ng-app="visualizzaGrafico" ng-controller="GraphCtrl">
    <div class="row">
        <div class="col-xs-6" >
            <div zingchart id="chart-1" zc-json="myBar" zc-width="500px" zc-height="368px"></div>
        </div>
        <div class="col-xs-6">
            <div zingchart id="chart-2" zc-json="myPie" zc-width="500px" zc-height="368px"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <p>Data inizio</p><input type="date" class="form-control input-sm" ng-model="startDate">
            <p>Data fine</p><input type="date" class="form-control input-sm" ng-model="endDate">
        </div>
        <div class="col-xs-6">
            <button class="btn-primary" ng-click="logCalc(startDate, endDate)">Render</button>
        </div>
    </div>

</div>