<!DOCTYPE html>
<html lang="en">

<div class="container">

    <div class="row">

    <h2 class="header">Inserisci Nuovo Utente</h2>

        <label>Nome</label>
        <input type='text' ng-model='$ctrl.utente.nome' class='materialize-textarea' required>

        <label>Cognome</label>
        <input type='text' ng-model='$ctrl.utente.cognome' class='materialize-textarea' required>

        <label>Username</label>
        <input type='text' ng-model='$ctrl.utente.username' class='materialize-textarea' required>

        <label>Email</label>
        <input type='email' ng-model='$ctrl.utente.email' class='materialize-textarea' required>


        <label>Password</label>
        <input type='password' ng-model='$ctrl.utente.password' class='materialize-textarea' required>

        <label>Ruolo</label>
        <select ng-model="$ctrl.ruolo" ng-options="ruolo as ruolo.name for ruolo in $ctrl.ruoli" class="" material-select >
            <option value="" selected disabled> Seleziona il ruolo </option>
        </select>

        <button type="submit" ng-click="$ctrl.inserisci()" class="btn btn-primary"> Inserisci </button>
        <button type="reset" ng-click="$ctrl.annulla()" class="btn btn-primary"> Annulla </button>


    </div>

</div>
</html>