<div class="container">

    <div class="row">

        <h2 class="header">Lista degli Oggetti</h2>

        <table class="highlight">
            <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Versione</th>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="x in $ctrl.oggetti" ng-click="$ctrl.dettagli(x.id)">
                <td>{{ x.id}}</td>
                <td>{{ x.nome}}</td>
                <td>{{ x.versione}}</td>
            </tr>
            </tbody>
        </table>

    </div>

</div>
