<div class="container">

    <div class="row">

        <h2 class="header">Lista dei Ticket</h2>

        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>Titolo</th>
                <th>Categoria</th>
                <th>Stato</th>

            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="x in $ctrl.tickets" ng-click="$ctrl.dettagli(x.id)">
                <td>{{ x.id}}</td>
                <td>{{ x.titolo}}</td>
                <td>{{ x.categoria}}</td>
                <td>{{ x.stato}}</td>
            </tr>
            </tbody>
        </table>

    </div>

</div>