<div id="page-wrapper">

    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">Dettagli Oggetto</h3>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <p>ID : {{$ctrl.oggetto.id}}</p>
    <p>Nome :</p>
    <input ng-disabled="!$ctrl.modifyMode" ng-model="$ctrl.oggetto.nome">
    <p>Versione :</p>
    <input ng-disabled="true" ng-model="$ctrl.oggetto.versione">

    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-show="!$ctrl.modifyMode" ng-click="$ctrl.modifica()">Modifica</button>
        <button class="btn btn-danger" type="button" ng-show="!$ctrl.modifyMode" ng-click="$ctrl.elimina($ctrl.oggetto.id)">Elimina</button>
        <button class="btn" type="button" ng-show="!$ctrl.modifyMode" ng-click="$ctrl.indietro()">Indietro</button>
        <button class="btn btn-primary" type="button" ng-show="$ctrl.modifyMode" ng-click="$ctrl.conferma()">Conferma</button>
        <button class="btn btn-danger" type="button" ng-show="$ctrl.modifyMode" ng-click="$ctrl.annulla()">Annulla</button>
    </div>

</div>
