<div class="container">

    <div class="row">

        <h2 class="header">Storico Ticket</h2>

        <div class="col-xs-3">
            <label>ID</label>
            <input type="text" name="id" ng-disabled="true" ng-model="$ctrl.ticket.id">
        </div>
        <div class="col-xs-3">
            <label>Titolo</label>
            <input type="text" name="id" ng-disabled="true" ng-model="$ctrl.ticket.titolo">
        </div>
        <div class="col-xs-3">
            <label>Oggetto</label>
            <input value="{{$ctrl.ticket.oggetto.nome + ' ' + $ctrl.ticket.oggetto.versione}}" ng-disabled="true">
        </div>

        <h4 class="header"> Storico </h4>

        <table class="highlight">
            <thead>
            <tr>
                <th>Data Modifica</th>
                <th>Tipo Modifica</th>
                <th>Autore</th>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="x in $ctrl.tickets " ng-click="$ctrl.dettagli(x.id)">

                <td>{{ x.timestamp | date: 'dd/MM/yyyy'}}</td>
                <td>{{ x.operazione | operationFilter}}</td>
                <td>{{x.autore.username}}</td>

            </tr>
            </tbody>
        </table>
        <div class="modal-footer">
            <button class="btn" type="button" ng-click="$ctrl.indietro()">Indietro</button>
        </div>

    </div>
</div>