<div class="container">

    <div class="row">

        <h2 class="header">Inserisci Nuovo Ticket</h2>

        <form name="ticketForm" novalidate>

            <div class="form-group">
                <label>Titolo*</label>
                <p ng-show="ticketForm.name.$invalid && !ticketForm.name.$pristine" class="header">Il campo Titolo è obbligatorio!</p>
                <input type='text' ng-model='$ctrl.ticket.titolo' required>
            </div>

            <div class="form-group">
                <label>Categoria*</label>
                <p ng-show="ticketForm.name.$invalid && !ticketForm.name.$pristine" class="header">Il campo Categoria è obbligatorio!</p>
                <input type='text' ng-model='$ctrl.ticket.categoria' required>
            </div>

            <div class="form-group">
                <label>Descrizione</label>
                <p ng-show="ticketForm.name.$invalid && !ticketForm.name.$pristine" class="header">Il campo Descrizione è obbligatorio!</p>
                <input type='text' ng-model='$ctrl.ticket.descrizione'>
            </div>

            <div class="form-group">
                <label>Priorità*</label>
                <p ng-show="ticketForm.name.$invalid && !ticketForm.name.$pristine" class="header">Il campo Priorità è obbligatorio!</p>
                <div input-field>
                    <select class="" ng-model='$ctrl.ticket.prioritaAutore' material-select required >
                        <option value=0> Critica </option>
                        <option value=1> Alta </option>
                        <option value=2> Bassa </option>
                        <option value=3> Minima </option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label>Oggetto*</label>
                <p ng-show="ticketForm.name.$invalid && !ticketForm.name.$pristine" class="header">Il campo Oggetto è obbligatorio!</p>
                <div input-field>
                    <select ng-model='$ctrl.ticket.oggetto.id' class="" id="oggetto" material-select required>
                        <option ng-repeat="x in $ctrl.oggetti" value={{x.id}}>
                            {{x.nome + " " + x.versione}}
                        </option>
                    </select>
                </div>
            </div>

            <p class="header">I campi contrassegnati con * sono obbligatori</p>

            <button type="submit" ng-click="$ctrl.inserisci()" class="btn btn-primary" ng-disabled="ticketForm.$invalid"> Inserisci </button>
            <button type="reset" ng-click="$ctrl.annulla()" class="btn btn-primary"> Annulla </button>
        </form>
    </div>
</div>